<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zain&display=swap"
      rel="stylesheet"
    />
    <title>My Toolbox</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <h1 class="page-title">Tools</h1>

    <div class="tools">
      <a href="/toolbox/createTool">
        <button class="create-btn">Create a Custom Tool</button>
      </a>
      <ul class="tool-list">
        <% tools.filter(tool => !tool.isCustom).forEach(tool => { %>
        <li class="tool-item">
          <a href="/toolbox/<%= tool._id %>"><%= tool.name %></a>
        </li>
        <% }) %>
      </ul>
    </div>

    <p class="in-case-of-emergency">
      *If you are experiencing an emergency, please call 911 or go to the
      nearest emergency room
    </p>
  </body>
</html>
