<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zain&display=swap"
      rel="stylesheet"
    />
   <title>Emotional Check-in - Toolbox</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
   <%- include("./partials/_navbar.ejs") %>

   <h1 class="page-title">Emotional Check-In</h1>

   <div class="step">
   <h3 class="step-name">Step 1: Identify What You Are Feeling</h3>
   <p class="check-in-desc">You are probably feeling multiple feelings, which is expected! Is there a feeling taking up more space than the others? If you are unsure of what you are feeling, check out this <a href="https://feelingswheel.com/" class="feelings-wheel-link">feelings wheel</a> for help! You may also continue with the check-in and come back to this step later!</p>
   

   <h3 class="step-name">Step 2: Check In With Your Body</h3>
   <p class="check-in-desc">Take a moment to check in your physical body and identify if anything feels different. Perhaps your shoulders are hunched because they are holding stress. Perhaps you feel a pit in your stomach because you are feeling scared. Perhaps you notice that you feel particularly light because you are feeling happy. This can also help you identify what you are feeling if you are familiar with how you physically experience different feelings!</p>


   <h3 class="step-name">Step 3: Reflect on Why You Might Be Feeling This Way</h3>
   <p class="check-in-desc">What contributed to this feeling? Was there an activating event that influenced this feeling? Were you lost in thought and a memory influenced this feeling? Did you just interact with someone who may have influenced this feeling? It's ok if you are not sure why you are feeling this way- feelings can be a chaotic mess! No matter what, please remember that there is no such thing as a "wrong" feeling- how you feel is how you feel!</p>


   <h4 class="step-name">Step 4: Would I Like to Manage This Feeling?</h4>
   <p class="check-in-desc">Not all feelings need managing (ie: feeling happy, content, excited), though sometimes it is helpful to use coping skills to manage our feelings. Is this feeling too much? Is this feeling too much of a distraction? If the answer to these questions is "yes," perhaps a coping skill would be helpful! </p>
</div>
   

   <p class="in-case-of-emergency">
      *If you are experiencing an emergency, please call 911 or go to the nearest
      emergency room
    </p>
</body>
</html>
