<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zain&display=swap"
      rel="stylesheet"
    />
    <title>Resources - Toolbox</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/_navbar.ejs") %>
    <h1 class="page-title">Mental Health Resources</h1>

    <h3 class="helpline-title">Helplines</h3>
    <div class="helplines">
      <ul>
        <li class="helpline-name">988 Suicide & Crisis Lifeline</li>
        <ul>
          <li>Call or text <a href="tel:988">988</a></li>
          <li>
            <a href="https://nyc988.cityofnewyork.us/en/" target="_blank"
              >Chat online</a
            >
          </li>
        </ul>
        <li class="helpline-name">National Crisis Text Line:</li>
        <ul>
          <li>Text "HOME" to <a href="sms:741-741">741-741</a></li>
        </ul>
        <li class="helpline-name">
          Human or Natural Disaster Distress Helpline:
        </li>
        <ul>
          <li>Call or text <a href="tel:1-800-985-5990">1-800-985-5990</a></li>
        </ul>
        <li class="helpline-name">NAMI's Helpline (M-F 10am-10pm EST):</li>
        <ul>
          <li>Call <a href="tel:+1(800)950-6264">1-800-950-6264</a></li>
          <li>Text "NAMI" to <a href="sms:62640">62640</a></li>
        </ul>

        <li class="helpline-name">RAINN's National Sexual Assault Helpline:</li>
        <ul>
          <li>Call <a href="tel:+1(800)656-4673">1-800-656-4673</a></li>
          <li>Text "HOPE" to <a href="sms:64673">64673</a></li>
          <li>
            <a
              href="https://hotline.rainn.org/online?_ga=2.104531264.1563024983.1754919058-818428162.1691429084"
              >Chat online</a
            >
          </li>
        </ul>

        <li class="helpline-name">
          SAMHSA's National Mental Health and Addition Helpline:
        </li>
        <ul>
          <li>Call <a href="tel:1-800-662-4357">1-800-662-4357</a></li>
        </ul>
        <li class="helpline-name">
          The Trevor Project's Helpline for LGBTQ+ Youth:
        </li>
        <ul>
          <li>Call <a href="1-866-488-7386">1-866-488-7386</a></li>
          <li>Text "START" to <a href="sms:678-678">678-678</a></li>
          <li>
            <a href="https://www.thetrevorproject.org/get-help/" target="_blank"
              >Chat online</a
            >
          </li>
        </ul>
      </ul>
    </div>

    <p class="in-case-of-emergency">
      *If you are experiencing an emergency, please call 911 or go to the
      nearest emergency room
    </p>
  </body>
</html>
