<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Resources - Toolbox</title>
</head>
<body>
   <%- include("./partials/_navbar.ejs") %>
   <h1>Resources</h1>

   <p>If you are experiencing an emergency, please call 911 or go to the nearest emergency room</p>


</body>
</html>