<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My Toolbox</title>
</head>
<body>
   <%- include("../partials/_navbar.ejs") %>

   <h1>My Toolbox</h1>

   <ul>
      <% userTools.forEach(userTool => { %>
         <li>
            <a href="/toolbox/myTools/<%= userTool._id %>"><%= userTool.tool.name %></a>
         </li>
      <% }) %>
   </ul>


   
</body>
</html>